[unit]
Description=Indy Indxer app
After=network.target

[Service]
User=edgy
ExecStart=/datadrive/supernode/indy/runindexer.sh
TimeoutSec=30
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target
