[unit]
Description=Indy Indxer app
After=network.target

[Service]
User=edgy
WorkingDirectory=/datadrive/supernode/indy/
ExecStart=npm run dev-index
TimeoutSec=30
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target
